/* Remove Margin + Paddin */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Headlines + Paragraphs */

h1, h2, h3 {
    font-family: Oswald, Arial, Helvetica;
}


h1 {
    font-size: 72px;
    color: #fff;
}

h2 {
    font-size: 72px;
    color: #409ec1;
}

h3 {
    font-size: 18px;
    color: #bab1a6;
    padding-top: 20px;
}

.photo, .text, .sidebar-text {
    font-family: Arial, Helvetica;
}

.photo {
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
    color: #fff;
    padding: 100px 50px 75px 0;
    margin-bottom: 50px;
}

.text {
    font-size: 16px;
    color: #333;
    padding: 25px 45px 0 0; 
}

.sidebar-text {
    font-size: 12px;
    line-height: 1.8em;
    color: #000;
    padding-top: 25px;
    padding: 25px 50px 0 0;
}

p {
    font-size: 16px;
    font-family: Calibri, Arial, Helvetica;
}

/* Layout */

.container {
    width: 960px;
    margin: 0 auto 0 auto;
}

.top {
    background-color: #333;
}

.bottom-left {
    width: 75%;
    float: left;
    background-color: #eded73;
}

.bottom-right {
    width: 25%;
    float: left;
    background-color: #b2d7f2;
}

img {
    max-width: 75%;
    height: auto;
    float: left;
    
}